/* Full-page background image styling with upper part focus */
.full-page-image {
    background-image: url( "images/eggMcMuffin.jpg"); /* Path to the image */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: top; /* Show more of the upper part of the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: relative;
}

/* Overlay text box styling */
.overlay-text {
    position: absolute;
    color: #DF7B7D;
    font-size: 40px;
    text-shadow: 0px 0px #DF7C7E;
    left: 156px;
    top: 72px;
}
